@import "material-colors";

%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'SegoeUI';
  src:  url('./fonts/SegoeUI/SegoeUI100.woff2') format('woff2'),
        url('./fonts/SegoeUI/SegoeUI100.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'SegoeUI';
  src:  url('./fonts/SegoeUI/SegoeUI200.woff2') format('woff2'),
        url('./fonts/SegoeUI/SegoeUI200.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'SegoeUI';
  src:  url('./fonts/SegoeUI/SegoeUI400.woff2') format('woff2'),
        url('./fonts/SegoeUI/SegoeUI400.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'SegoeUI';
  src:  url('./fonts/SegoeUI/SegoeUI600.woff2') format('woff2'),
        url('./fonts/SegoeUI/SegoeUI600.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'SegoeUI';
  src:  url('./fonts/SegoeUI/SegoeUI700.woff2') format('woff2'),
        url('./fonts/SegoeUI/SegoeUI700.woff') format('woff');
  font-weight: 700;
}

html, body {
  padding: 0;
  margin: 0;
  outline: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  position: fixed;
  width: 100%;
  height: 100%;
  #map {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .legend {
    font-family: "SegoeUI";
    position: fixed;
    z-index: 100;
    background-color: rgb(55, 72, 95);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.44);
    width: 300px;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    .title {
      font-size: 14px;
      font-weight: 700;
      color: #f0f4f6;
      background-color: rgb(43, 58, 78);
      height: 58px;
      display: flex;
      align-items: center;
      .crashIcon {
        width: 28px;
        height: 28px;
        background-image: url('./img/Dark.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 18px;
        margin-right: 18px;
      }
      // .text {
      // }
      .arrowDown {
        width: 10px;
        height: 6px;
        cursor: pointer;
        background-image: url('./img/v.svg');
        background-position: 50% 50%;
        background-size: 10px 6px;
        background-repeat: no-repeat;
        margin-left: 5px;
      }
    }
    .table {
      &.hidden {
        display: none;
      }
      padding: 23px 18px;
      color: #f0f4f6;
      tr {
        td {
          &.flex {
            display: flex;
            align-items: center;
          }
          .greenCircle {
            border-width: 2px;
            border-color: rgb(255, 255, 255);
            border-style: solid;
            border-radius: 50%;
            background-color: #169d56;
            width: 18px;
            height: 18px;
          }
          .orangeCircle {
            border-width: 2px;
            border-color: rgb(255, 255, 255);
            border-style: solid;
            border-radius: 50%;
            background-color: #e68f33;
            width: 18px;
            height: 18px;
          }
          .redCircle {
            border-width: 2px;
            border-color: rgb(255, 255, 255);
            border-style: solid;
            border-radius: 50%;
            background-color: #da202b;
            width: 18px;
            height: 18px;
          }
          .badgeCircle {
            border-radius: 50%;
            background-color: #252a30;
            width: 16px;
            height: 16px;
            color: white;
            font-size: 11px;
            display: inline-block;
            position: relative;
            // top: -32px;
            left: 2.5px;
            text-align: center;
            span {
              position: relative;
              top: 0px;
            }
          }
          &.left {
            padding-left: 18px;
          }
        }
      }
    }
    .timeTableFrame {
      &.range {
        margin-bottom: -2px;
      }
      &.total {
        margin-bottom: -2px;
      }
      background-color: rgb(59, 77, 101);
      border-top-width: 2px;
      border-bottom-width: 2px;
      border-left-width: 0;
      border-right-width: 0;
      border-top-color: rgb(43, 58, 78);
      border-bottom-color: rgb(43, 58, 78);
      border-style: solid;
      .left {
        padding-left: 5px;
      }
      .center {
        text-align: center;
      }
      .bold {
        font-weight: 600;
      }
      .timeTable {
        padding: 21px 16px;
        color: #f0f4f6;
        #timeTable {
          tr {
            .icon {
              width: 22px;
              height: 22px;
              background-image: url('./img/Dark.svg');
              background-position: center;
              background-size: 100%;
              background-repeat: no-repeat;
            }
            .time {
              padding-left: 21px;
              position: relative;
              top: -3px;
            }
          }
        }
      }
    }
  }
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.timeTableFrame__item {
  display: flex;
  align-content: center;
  justify-content: center
}

.timeTableFrame-item__range {
  width: 90%;
}

.timeTableFrame-item__text {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  text-align: center;
  font-family: SegoeUI;
  padding: 5px 0;
  margin: 5px 0;
  width: 120px;
  border-radius: 7px;
  transition-property: box-shadow, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.timeTableFrame-item__text_red {
  box-shadow: 0 0 3px 0 $mc-red-500 inset;
  border-color: $mc-red-400;
}

.timeTableFrame-item__text_orange {
  box-shadow: 0 0 3px 0 $mc-orange-700 inset;
  border-color: $mc-orange-600;
}

.timeTableFrame-item__text_yellow {
  box-shadow: 0 0 3px 0 $mc-yellow-700 inset;
  border-color: $mc-yellow-600;
}

.button {
  color: white;
  text-align: center;
  width: 90%;
  margin: 5px 0;
  padding: 5px 0;
  border-radius: 7px;
  background-color: $mc-green-600;
  font-family: SegoeUI;
  transition: opacity .5s ease;
  cursor: pointer;
  @extend %noselect;
}

.button_disabled {
  opacity: .5;
  cursor: default;
}

.tooltip {
  background: white;
  z-index: 99;
  position: fixed;
  font-size: 11px;
  padding: 3px 6px;
  border-radius: 7px;
  box-shadow: 0 0 2px 0 black;
  overflow: hidden;
  max-width: 287px;
  font-family: SegoeUI;
  th {
    text-align: left;
    margin-right: 5px;
  }
}